pandas>=2.2,<3.0
numpy>=1.26,<2.0
scikit-learn>=1.5,<2.0
apache-airflow==3.0.*
matplotlib>=3.9,<4.0
pathlib==1.0.1
python-dotenv==1.2.1
pynput==1.8.1
pyautogui==0.9.54
beautifulsoup4==4.14.2
playwright==1.56.0
