services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  airflow-webserver:
    image: ${AIRFLOW_IMAGE_NAME}
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__API__SECRET_KEY: "supersecret"
      AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS: "admin:Admin"
    # TBD understand what this does and why it had to be removed
    # volumes:
    #   - ./dags:/opt/airflow/dags
    ports:
      - "8080:8080"
    command: api-server

  airflow-scheduler:
    image: ${AIRFLOW_IMAGE_NAME}
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    # TBD understand what this does and why it had to be removed
    # volumes:
    #   - ./dags:/opt/airflow/dags
    command: scheduler

volumes:
  postgres-data:
